{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "datarepo-ui.serviceAccountName" . }}
  labels:
{{ include "datarepo-ui.labels" . | nindent 4 }}
{{- end -}}
