apiVersion: v2
name: datarepo-ui
description: A Helm chart to deploy datarepo ui server for Kubernetes
type: application
version: 0.0.353
appVersion: 0.329.0
keywords:
  - google
  - cloud
  - datarepo
  - broadinstitute
maintainers:
  - email: smark@broadinstitute.org
    name: smark
sources:
  - https://github.com/broadinstitute/datarepo-helm/tree/master/charts
home: https://broadinstitute.github.io/datarepo-helm/
dependencies:
  # For collecting accelerate metrics from data repo in dsp-grafana dashboards
  - name: sherlock-reporter
    condition: sherlock.enabled
    version: 0.6.0
    repository: 'https://terra-helm.storage.googleapis.com'
