# Default values for datarepo-ui.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
  applicationVersion: ""
replicaCount: 1
image:
  repository: gcr.io/broad-jade-dev/jade-data-repo-ui
  tag: 0.315.0
  pullPolicy: IfNotPresent
  # nginx listen port for server
nginxport: 8080
proxyPass:
  status:
  # http://api-service.data-repo:8080/status
  swagger:
  # http://api-service.data-repo:8080/swagger-ui.html
  api:
  # http://api-service.data-repo:8080
## Extra environment variables that will be pass onto deployment pods
env: {}
## Pod annotations
podAnnotations: {}
## Node selectors and tolerations for server scheduling to nodes with taints
## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
##
nodeSelector: {}
tolerations: []
affinity: {}
resources: {}
#  limits:
#    cpu: 50m
#    memory: 64Mi
#  requests:
#    cpu: 10m
#    memory: 32Mi

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:
service:
  type: ClusterIP
  port: 8080
# Sherlock is DSP's internal tool for tracking service deployments across all of terra and
# extracting metric data from them. https://cloud.google.com/blog/products/devops-sre/using-the-four-keys-to-measure-your-devops-performance
sherlock:
  # This will only be enabled in environments managed by argocd
  enabled: false
  # The library chart used here does not have access to .Values.image.repository
  # thus a small amount of duplication is required here
  appImageName: gcr.io/broad-jade-dev/jade-data-repo-ui
  appName: datarepo-ui
  sherlockImageTag: v0.0.19
  vault:
    # client certificate credentials used to authenticate to sherlock
    pathPrefix: secret/suitable/sherlock/prod
