apiVersion: v2
name: datarepo-api
description: A Helm chart to deploy datarepo api server for Kubernetes
# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application
# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
version: 0.0.679
appVersion: 2.73.0
# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application
# appVersion: 1.16.0
keywords:
  - google
  - cloud
  - datarepo
  - broadinstitute
maintainers:
  - email: smark@broadinstitute.org
    name: smark
sources:
  - https://github.com/broadinstitute/datarepo-helm/tree/master/charts
home: https://broadinstitute.github.io/datarepo-helm/
dependencies:
  # For collecting Accelerate metrics from data repo in dsp-grafana dashboards
  - name: sherlock-reporter
    condition: sherlock.enabled
    version: 0.6.0
    repository: 'https://terra-helm.storage.googleapis.com'
