# Default values for datarepo-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
  applicationVersion: ""
replicaCount: 1
# Datarepo and Kubernetes need to share the same shutdown timeout value.
# It is set here, set in the api-deployment, and made an envvar that
# overrides an application.properties item in DRmanager
shutdownTimeoutSeconds: 60
readinessInitialDelaySeconds: 10
livenessInitialDelaySeconds: 10
startupInitialDelaySeconds: 15
image:
  repository: gcr.io/broad-jade-dev/jade-data-repo
  tag: 2.145.0
  pullPolicy: IfNotPresent
  port: 8080
## Extra environment variables that will be pass onto deployment pods
env: {}
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
## Pod annotations
podAnnotations: {}
## Deployment annotations
deploymentAnnotations: {}
## Node selectors and tolerations for server scheduling to nodes with taints
## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
##
nodeSelector: {}
tolerations: []
affinity: {}
resources:
  limits:
    memory: 4.5Gi
  requests:
    memory: 1.5Gi
serviceAccount:
  annotations: {}
  # Specifies whether a service account should be created
  create: false
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:
rbac:
  create: false
service:
  port: 8080
  type: ClusterIP
## create new secrets
secretsgeneric:
  datarepoPassword: ""
  stairwayPassword: ""
  serivceAccountCredentialFileJson: ""
  applicationSecret: ""
  rbsCredentialFileJson: ""
  synapseUser: ""
  synapsePassword: ""
  synapseEncryptionKey: ""
## Specify an existing secret holding the cloud-sql database credentials
existingSecretDB: ""
## The key in the existing secret that stores the Datarepo DB credentials
existingDatarepoDbSecretKey: ""
## The key in the existing secret that stores the stairway DB credentials
existingStairwayDbSecretKey: ""
## Specify an existing secret holding the cloud-sql service account credentials
existingSecretSA: ""
## The key in the existing secret that stores the GCP Service account credentials
existingServiceAccountSecretKey: ""
## Specify an existing secret holding the Azure credentials
existingSecretAzure: ""
## The key in the existing secret that stores the Azure application secret
existingApplicationSecretSecretKey: ""
## The key in the existing secret that stores the azure synapse admin user name
existingSynapseUserSecretKey: ""
## The key in the existing secret that stores the azure synapse admin password
existingSynapsePasswordSecretKey: ""
## The key in the existing secret that stores the azure synapse encryption key
existingSynapseEncryptionKeySecretKey: ""
## Specify an existing secret holding the RBS service account credentials
existingSecretRBS: ""
## The key in the existing secret that stores the RBS service account credentials
existingRBSSecretKey: ""
## Specify an existing secret holding the Oauth service account credentials
existingSecretNameOauth: ""
## The key in the existing secret that stores the Oauth client secret
existingOauthClientSecretSecretKey: ""
# Sherlock is DSP's internal tool for tracking service deployments across all of terra and
# extracting metric data from them. https://cloud.google.com/blog/products/devops-sre/using-the-four-keys-to-measure-your-devops-performance
sherlock:
  # This will only be enabled in environments managed by argocd
  enabled: false
  # The library chart used here does not have access to .Values.image.repository
  # thus a small amount of duplication is required here
  appImageName: gcr.io/broad-jade-dev/jade-data-repo
  appName: datarepo-api
  sherlockImageTag: v0.0.19
  vault:
    # client certificate credentials used to authenticate to sherlock
    pathPrefix: secret/suitable/sherlock/prod
prometheus:
  # -- configuration for scraping TDR metrics provided via Spring Actuator
  scrape:
    # -- whether to enable scraping of metrics
    enabled: false
    # -- the interval at which to scrape metrics
    interval: 15s
    # -- the path to scrape metrics from
    path: /actuator/prometheus
    # -- the scheme to use for scraping
    scheme: http
    # -- the timeout for scraping
    timeout: 10s
